.btn-faq{
    border: 3px solid #334679;
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
    position: relative;
    border-radius: 100px;
    background: linear-gradient(#1b275a, #0e1434);;
}

.line-btn{
    padding: 3px;
    background-color: #fff;
    width: 25px;
}

#line-1{
    position: absolute;
    transform: rotate(90deg);
    transition: all ease-in .10s;
}

#line-1.active{
    transform: rotate(0);
    transition: all ease-in.10s;
    background-color: #2ef2ff;
    filter: drop-shadow(0px 1px 10px #2ef2ff);
}

#line-1.show{
    transform: rotate(90deg);
    transition: all ease-in .10s;
    filter: drop-shadow(0px 0px 0px #2ef2ff);
}

@media (max-width:1240px) and (min-width:1020px) {
    .btn-faq{
        width: 68px;
    }
}

@media (max-width:559px) and (min-width:376px) {
    .btn-faq{
        width: 68px;
    }
}